/* Navigation */

.navbar {
  margin: 0;
  padding: 0;
}

.navbar img {
  margin: 5px 15px 5px 60px;
  padding: 0;
}

.navtabs {
  display: flex;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  font-family: 'Lemon', cursive;
}

.navbutton {
  margin: 0;
  padding: 10px;
  border: solid 1px #2a4a4a;
  border-bottom: 0;
  width: 130px;
  border-radius: 15px 15px 0px 0px ;
  text-align: center;
}

#hometab {
  background-color: #c3a61e;
  color: #2a4a4a;
}

#historytab {
  background-color: #e5562b;
  color: #2a4a4a;
}

#contacttab {
  background-color: #a775d2;
  color: #2a4a4a;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fab {
  font-size: 12px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: .5s;
}

li {
  list-style: none;
}

.copywrite {
  margin-right: 40px;
}

.social {
  display: flex;
}

li:hover {
  color: #292929;
  border: 1px solid #292929;
  transition: .5s;
}

.fa-facebook {
  background-color: royalblue;
}

.fa-twitter {
  background-color: lightblue;
}

.fa-instagram {
  background-color: hotpink;
}

/* Sitewide page layout */

/* Index page layout */

/* Capris page layout */

#caprismain {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

#buycaprispic {
  height: 500px;
  width: 400px;
}

#nameandrating {
  display: flex;
  justify-content: center;
}

#buycaprisname {
  font-family: 'Lemon', cursive;
  margin: 10px 40px 10px 0px;
}

.caprisinfobox {
  border: solid 2px #292929;
  margin: 0px 450px 30px 450px;
  padding: 10px;
  border-radius: 10px;
}

.sizeandprice {
  display: inline-block;
}

#cartbutton {
  background-color: #f9931e;
  border: solid 1px #292929;
  border-radius: 10px;
  width: 90%;
}

/* History page layout */

/* Contact page layout */
