/* Navigation */

.navbar {
  margin: 0;
  padding: 15px 0px 0px 10px;
}

.navbar img {
  margin: 5px 15px 0px 50px;
  padding-bottom: 20px;
  width: 215px;
}

.navtabs {
  display: flex;
  margin: 0px 70px 0px 0px;
  padding: 0;
  align-self: flex-end;
  font-family: 'Lemon', cursive;
}

.navbutton a {
  padding: 5px 30px 2px 30px;
  text-align: center;
  color: #2a4a4a;
  transition: ease-in-out 200ms;
  font-size: 1.1em;
}

.navbutton a:hover {
  padding: 10px 30px 2px 30px;
  text-decoration: none;
}

.hometab {
  border: solid 1px #2a4a4a;
  border-bottom: 0;
  border-radius: 15px 15px 0px 0px;
  background-color: #c3a61e;
  color: #2a4a4a;
}

.historytab {
  border: solid 1px #2a4a4a;
  border-bottom: 0;
  border-radius: 15px 15px 0px 0px;
  background-color: #e5562b;
  color: #2a4a4a;
}

.contacttab {
  border: solid 1px #2a4a4a;
  border-bottom: 0;
  border-radius: 15px 15px 0px 0px;
  background-color: #a775d2;
  color: #2a4a4a;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fab {
  font-size: 12px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: .5s;
}

li {
  list-style: none;
}

.copywrite {
  margin-right: 40px;
}

.social {
  display: flex;
}

.social li:hover {
  color: #292929;
  border: 1px solid #292929;
  transition: .5s;
}

.fa-facebook {
  background-color: royalblue;
}

.fa-twitter {
  background-color: lightblue;
}

.fa-instagram {
  background-color: hotpink;
}

/* Index page */

.see-capris h1 {
  font-family: 'Lemon', cursive;
  color: #2a4a4a;
  margin: 40px 0px 0px 75px;
}

.carousel {
  width: 450px;
  margin-bottom: 50px;
}

.carousel-control-next {
  opacity: 1;
  background-color: #c3a61e;
  border: 1px solid #c3a61e;
  border-radius: 0px 10px 0px 10px;
  margin: 0px 0px 160px 0px;
}

.carousel-control-prev {
  opacity: 1;
  background-color: #c3a61e;
  border: 1px solid #c3a61e;
  border-radius: 10px 0px 10px 0px;
  margin: 0px 0px 160px 0px;
}

.carousel-item {
  border: 2px solid #c3a61e;
  border-radius: 10px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  opacity: .9;
  transition: ease-in 100ms;
  border: 1px solid #c3a61e;
}

.capri-btn {
  background-color: #c3a61e;
  border: 1px solid #927c17;
  color: #2a4a4a !important;
  font-family: 'Lemon', cursive;
  padding: 6px 40px 6px 40px;
  margin: 25px;
  font-size: 1.1em;
  text-align: center;
}

.capri-btn:hover {
  background-color: rgba(195, 165, 30, 0.9) !important;
  border: 1px solid #c3a61e !important;
}

.capri-description {
  color: #2a4a4a;
  font-family: 'Lemon', cursive;
  text-align: center;
  font-size: 1.1em;
}

/* Capris page */

#caprismain {
  justify-content: center;
  text-align: center;
}

#buycaprispic {
  height: 500px;
  width: 400px;
}

#nameandrating {
  display: flex;
  justify-content: center;
}

#buycaprisname {
  font-family: 'Lemon', cursive;
  margin: 10px 40px 10px 0px;
}

.caprisinfobox {
  border: solid 2px #292929;
  padding: 10px;
  border-radius: 10px;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

.sizeandprice {
  display: flex;
  justify-content: space-between;
}

#cartbutton {
  background-color: #f9931e;
  border: solid 1px #292929;
  border-radius: 10px;
  width: 90%;
}

.modal-title {
  font-family: 'Lemon', cursive;
}

/* History page */
.carousel-item {
  justify-content: center;
  text-align: center;
}

#history-prev {
  background-color: #e5562b;
  border: 1px solid #e5562b;
}

#history-next {
  background-color: #e5562b;
  border: 1px solid #e5562b;
}

#history-carousel {
  justify-content: center;
  text-align: center;
}

.history-slide {
  display: block;
  margin: 0 auto;
  width: inherit;
}

img.history-image {
height: 60vh;
object-fit: contain;
}

.Song {
  font-family: 'Lemon', cursive;
  color: #2a4a4a;
}

.history-title {
  font-family: 'Lemon', cursive;
  color: #2a4a4a;
  text-align: center;
}

.history-border {
  border: none !important;

}

/* Contact page */

.contactthanks {
  font-family: 'Lemon', cursive;
  margin: 40px 0px 10px 50px;
}

.contactinstructions {
  margin: 10px 70px 30px 70px;
}

.contactform {
  margin: 10px 70px 10px 70px;
}

.contactfield {
  display: flex;
  width: 600px;
  margin-bottom: 20px;
  padding: 0px 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.contactmessage {
  width: 100%;
  height: 300px;
  padding: 0px 10px;
}

.subscribesubmit {
  display: flex;
  margin-left: 70px;
  justify-content: space-between;
  }

#contactbutton {
  background-color: #f9931e;
  border: solid 1px #292929;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 20px;
  margin-right: 40%;
}
